nav {
    background-color: #eeeeee;
    color: #2e9ce5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px #2e9ce5 solid;

}

. line{
    height: 2px;
    position: absolute;
    bottom: 0;
    margin: 10px 0 0 0;
    /*background: #2e9ce5;*/
}

ul{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin: 0;
    list-style: none;
}

li {
    margin: 0 40px 0 0;
    opacity: .4;
    transition: all 0.4s ease;
}

li:hover{
    opacity: .7;
    cursor: pointer;
}

. active{
    opacity: 1;
}

li:last-child{
    margin-right: 0
}

a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    letter-spacing: .2em;
    font-size: 14px;
}



@media screen and (max-width: 400px) {

    ul {
        padding: 10px 0;
    }

    li {
        margin: 0 20px 0 0;
        font-size: 12px;
    }

}

