.categoryCard{
    position: absolute;
    top: 20%;
    left: 8%;
    border: 2px #3095ea solid;
    border-radius: 10px;
    height: 50%;
    width: 85%;
    color: #3095ea;
}

.categoryCard h3 {
    display: flex;
    justify-content: center;
}

#categoriesUnorderedList {
    display: flex;
    align-items: center;
    flex-direction: row;
    /*text-align: center;*/
    justify-content: center;
}

.categoriesListItem {
    margin: 10px;
    width: 210px;
    height: 150px;
    border: 2px #3095ea solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
    font-size: 20px;
    color: #1b4788;
}
