.container {
    color: #2e9ce5;
    /*background-color: #eeeeee;*/
    height: 100%;
    width: 100%;
}

/*EAE7DC*/
div[class*=box] {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1 {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 25%;
    color: #2e9ce5;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:  justify;
    z-index: 10;
}


#text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

.words {
    display: flex;
    /*flex-direction: column;*/
}

.text h3{
    width: 300px;
    font-size: 18px;
    margin: 40px;
    text-align: center;
}

.buttons {
    position:  absolute;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
}


.button:hover{
    cursor: pointer;
}


.button {
    margin: 5px;
    border: 0;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 200px;
    cursor: pointer;
}

.btn-one {
    transition: all 0.3s;
    position: relative;
}

.btn-one span {
    transition: all 0.3s;
}
.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 50px;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #2e9ce5;
    border-bottom-color: #2e9ce5;
    transform: scale(0.1, 1);
}
.btn-one:hover span {
    letter-spacing: 2px;
}
.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(48, 149, 234, 0.07);
}
.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

@media screen and (min-width: 720px) {
    #text {
        font-size: 18px;
        width: 500px;
    }
}

@media screen and (max-width: 600px) {

    #text {
        width: 300px;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {

    #text {
        width: 250px;
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {

    #text {
        width: 200px;
        font-size: 13px;
    }
}

@media screen and (max-width: 350px) {

    #text {
        width: 150px;
        font-size: 12px;
    }
}

