.container{
    display: flex;
    justify-content: center;
}


.cards {
    display: flex;
    flex-direction: row;
    margin-top: 12%;

}

.card {
    width: 250px;
    height: 150px;
    border: 2px  #3095ea solid;
    border-radius: 10px;
    margin: 0 10px;
    display: flex;
    align-items: center;

}

.cards img {
    height: 50px;
    margin: auto;
}

.random {
    display: flex;
    justify-content: center;
    position: relative;
    top: 25%;
}

